.login {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.login-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-form {
  width: 50vh;
  height: 30vh;
  border: white 1px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.login-input{
  border-radius: 10px;
  height: 25px;
  width: 300px;
  padding: 5px;
}

.login-button-container{
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
}

.login-button{
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: white;
  float: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
